*
!*/
!/.gitignore
!/build.gradle.kts
!/gradle.properties
!/gradle/libs.versions.toml
!/gradle/wrapper/gradle-wrapper.jar
!/gradle/wrapper/gradle-wrapper.properties
!/gradlew
!/gradlew.bat
!/settings.gradle.kts
!/src/main/AndroidManifest.xml
!/src/main/java/vn/ac/vju/mad/converter/MainActivity.kt
